<footer class="text-center text-black">
  <!-- Grid container -->
  <div class="container pt-2">
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        target="_blank"
        href="https://www.facebook.com/profile.php?id=100080848231105"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        target="_blank"
        href="https://www.instagram.com/lamanadadeoreo/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Whatsapp -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        target="_blank"
        href="https://wa.me/+573107852709"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa fa-whatsapp"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- <div class="container p-2 pb-0">
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="text-uppercase mb-4" >Contact: <i class="fa fa-home me-3 fw-bold"></i> Bogotá D.C   -   <i class="fa fa-envelope me-3 fw-bold"></i>
          lamanadeoreo5@gmail.com   -   <i class="fa fa-phone me-3 fw-bold"></i> + 01 234 567 88</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
  </div> -->

  <div class="container p-2">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col">
        <p>
          <i class="fa fa-home me-3 fw-bold"></i>Bogotá D.C
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col">
        <p>
          <i class="fa fa-envelope me-3 fw-bold"></i>lamanadeoreo5@gmail.com
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col">
        <p>
          <i class="fa fa-phone me-3 fw-bold"></i> +57 3107852709
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

  <!-- Copyright -->
  <div class="text-center text-dark p-3 derechos">
    © 2023 Copyright:
    <a class="text-dark" href="">BardelHaus</a>
  </div>
  <!-- Copyright -->
</footer>


