<div class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{imageToolbar}}" width="30" height="30" class="d-inline-block align-top ms-3" alt="">
    La manada de oreo
  </a>

</div>


<!-- <nav>
    <div class="nav-bar">
        <a href="#"><img src="{{logo}}" alt=""></a>
        <div class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Adopción</a></li>
                <ul class="sub-menu show">
                    <li *ngFor="let item of submenu"><a href={{item.url}}>{{item.nombre}}</a></li>
                </ul>
                <li><a href="/formulario-adopcion">Formulario de adopción</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
            </ul>
        </div>
    </div>
</nav> -->
