

.ayudar{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn-ayudar {
  background-color: #69625f;
  border: none;
  color: white;
  padding: 6px 8px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn-ayudar:hover {
  background-color: #cccd2a;
}

.card {
  width: 90%;
}

.buttons-card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
