<app-filtro-component></app-filtro-component>

<div class="container text-center mt-3">
  <div *ngIf="!validadorCargando">
    <h2>{{mensaje}}</h2>
    <span>Cantidad: {{cantidasAnimales}}</span>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="validadorCargando">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!validadorCargando" class="shell">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor = "let animal of animalesFiltrados | paginate: { itemsPerPage: peludosPorPagina, currentPage: paginaActual }">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img src={{paths.pathImagenes+animal.imagen}} alt="Product" class="img-responsive" />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>{{animal.especie}}</span>
            </div>
            <div class="title-product">
              <h3>{{animal.nombre}}</h3>
            </div>
            <div class="description-prod">
              <p>Edad: {{animal.edad}} meses</p>
              <p>Raza: {{animal.raza}}</p>
              <p>Tamaño: {{animal.tamano}}</p>
              <button (click)="cambiarContenidoModal(animal)" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">Conoce mas sobre mi</button>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><a href={{paths.pathAdoptar+animal.id}} class="btn-peluditos"><i class="fa fa-paw"></i> Adoptar</a></div>
              <div class="wcf-right"><a href={{paths.pathApadrinar+animal.id}} class="btn-peluditos"><i class="fa fa-handshake-o"></i> Ayudar</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls class="m-5 text-center" (pageChange)="paginaActual = $event"
                                             [autoHide]="true"
                                             previousLabel="Atras"
                                             nextLabel="Siguiente">
                                            </pagination-controls>

<div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">{{(contentModal.nombre) ? contentModal.nombre : ""}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Especie: {{contentModal.especie}}</p>
        <p>Sexo: {{contentModal.sexo}}</p>
        <p>Edad: {{contentModal.edad}}</p>
        <p>Raza: {{contentModal.raza}}</p>
        <p>Vacunas: {{(contentModal.vacunas) ? "✅" : "❌"}}</p>
        <p>{{(contentModal.sexo.toLowerCase() == "macho") ? "Esterilizado: " : "Esterilizada: "}} {{(contentModal.esterilizacion) ? "✅" : "❌"}}</p>
        <p>Me gustan los gatos: {{(contentModal.convivenciaGatos) ? "✅" : "❌"}}</p>
        <p>Me gustan los perros: {{(contentModal.convivenciaPerros) ? "✅" : "❌"}}</p>
        <p>Me gustan los niños: {{(contentModal.convivenciaNinos) ? "✅" : "❌"}}</p>
        <p>Cualidades: {{contentModal.cualidades}}</p>
        <p>Descripción: {{contentModal.descripcion}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>







