nav {
    /* background-color: #fcdada; */
    display: flex;
    background-color: #eaee65;
    padding: 1rem;
    justify-content:space-between;
    flex-wrap: wrap;
}

.navp, .navp-brand{
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.navp-brand img{
  width: 80px;
  height: 80px;
}

.navp-item{
  margin: 0;
}

.navp-link{
  color: black;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  font-size:1.25rem;
  padding: 1rem;
  cursor: pointer;
}

.navp-link:hover{
  background-color: #cccd2a;
  color: white;
}

.active{
  background-color: #cccd2a;
  color: white;
  border-radius: 10px;
}

.navp-brand{
  justify-content: flex-start;
}

.navp-brand img{
  border-radius: 45%;
  border: solid black;
}

@media screen and (max-width: 569px) {
  .navp-brand img{
    width: 50px;
    height: 50px;
  }
  nav{
    justify-content:center;
    padding: 0.5rem 0rem;
    justify-content: none;
  }

  .navp-link{
    font-size:1rem;
  }
}
