
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: solid #cccd2a;
  border-width: 5px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.accordion-flush .accordion-item .accordion-button{
  background-color: #69625f;
  color: white;
}

.accordion-flush .accordion-item .accordion-button.collapsed{
  background-color: white;
  color: black;
}

.accordion-flush .accordion-item .accordion-button:hover{
  background-color: #cccd2a;
  color: white;
}

.accordion-flush .accordion-item{
  border-bottom: 0;
}

.form-check-input:checked{
  background-color: #cccd2a;
  border-color: #cccd2a;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-filter, .btn-filter-start{
  background-color: #69625f;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-filter:hover {
  background-color: #cccd2a;
  color: black;
}

.btn-filter-start:hover{
  background-color: #cccd2a;
}



